@model MovieListingViewModel

@{
    ViewBag.Title = "Details - ";
}

<div class="mb-5"></div>

<div class="container-fluid">
    <div class="card" style="background-color: #e6ccff">
        
        <div class="card-body bg-transparent">
            <div class="row">
                <div class="col-5">
                    <img class="mb-3" src="@Model.ImageUrl" height="500" alt="@Model.Title @Model.Year ">
                </div>
                <div class="col" style="background-color: #e6ccff">
                    <h3 class="mb-3" style="color: black">@Model.Title (@Model.Year)</h3>
                    <p style="color: black">Director - @Model.Director</p>
                    <p style="color: black">
                        Category -  @Model.Category
                    </p>
                    <div class="mt-auto mb-0" style="position: absolute; bottom: 0">
                        <h4 class="mb-3" style="color: black">Summary</h4>
                        <h5 class="card-title mb-4 text-left" style="color: black">@Model.Description</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-controller="Comments" asp-action="Create" method="post">
        <div class="d-flex card justify-content-center mt-3" style="background-color: #e6ccff">
            <div class="d-flex flex-column col">
                <div class="coment-bottom card-body bg-light p-2 px-4">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">

                        <input asp-for="Id" class="form-control d-none">
                        <span asp-validation-for="Id" class="small text-danger"></span>
                        <input asp-for="CommentContent" type="text" class="form-control mr-3 " placeholder="Add comment">
                        <span asp-validation-for="CommentContent" class="small text-danger "></span>
                        <button class="btn btn-primary " type="submit">Comment</button>
                    </div>
                    <h2 class="mb-3">Comments (@Model.Comments.Count)</h2>
                    <div class="commented-section mt-2 mb-3" style="background-color: #e6ccff">
                        @{
                            foreach (var comment in Model.Comments)
                            {
                                <div class="d-flex flex-row align-items-center commented-user">
                                    <h5 class="media-img-40 mr-2"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" alt="avatar" />@comment.AuthorName</h5><span class="dot mb-2"></span><span class="mb-2 ml-2">@comment.CreatedOn</span>
                                </div>
                                <div class="comment-text-sm mb-4">
                                    <span>@comment.Content</span>
                                    <div class="reply-section">
                                        <div class="d-flex flex-row align-items-center voting-icons">
                                            <span class="ml-2"></span><span class="dot ml-2"></span>
                                            <h6 class="ml-2 mt-1">Reply</h6>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="mb-5"></div>
