@model MovieListingViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <h4>
                @Model.Title (@Model.Year)
            </h4>
        </div>
        <div class="card-body">
            <p>Director - @Model.Director</p>
            <p>
                Category -  @Model.Category
            </p>
            <img class="mb-3" src="@Model.ImageUrl" height="500" alt="@Model.Title @Model.Year ">

            <h5 class="card-title mb-4 text-left">@Model.Description</h5>
        </div>
    </div>
    <div class="d-flex card justify-content-center mt-3">
        <div class="d-flex flex-column col">
            <div class="coment-bottom card-body bg-white p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
                    <form asp-controller="Comments" asp-action="Create" method="post">
                        <input asp-for="Id" class="form-control d-none">
                        <span asp-validation-for="Id" class="small text-danger"></span>
                        <input asp-for="CommentContent" type="text" class="form-control mr-3" placeholder="Add comment">
                        <span asp-validation-for="CommentContent" class="small text-danger"></span>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
                <div class="commented-section mt-2">
                    @{
                        foreach (var comment in Model.Comments)
                        {
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="media-img-40 mr-2"><img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" alt="avatar" />@comment.AuthorName</h5><span class="dot mb-2"></span><span class="mb-2 ml-2">@comment.CreatedOn</span>
                            </div>
                            <div class="comment-text-sm"><span>@comment.Content</span></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


